
<div id="container">
	<div id="main_header">
			<p>Royal Beauty Supply & Wigs</p>
	</div><!--END main_header-->

	<div id="main_nav">
		<ul>
			<li><a href="#">home</a></li>
			<li><a href="#">wigs</a></li>
			<li><a href="#">map</a></li>
		</ul>
	</div><!--END main_nav-->

	<div id="main_content">

		<h1>Please choose one of our quick links.</h1>
		<div class="quick_links">
			<h2>wigs by type</h2>
			<ul>
				<li><a href="#">full</a></li>
				<li><a href="#">half</a></li>
				<li><a href="#">lace front</a></li>
			</ul>
		</div>

		<div class="quick_links">
		<h2>wigs by length</h2>
			<ul>
				<li><a href="#">short</a></li>
				<li><a href="#">medium</a></li>
				<li><a href="#">long</a></li>
			</ul>
		</div>

		<div class="quick_links">
		<h2>wigs by hair type</h2>
			<ul>
				<li><a href="#">remi</a></li>
				<li><a href="#">human</a></li>
				<li><a href="#">synthetic</a></li>
			</ul>
		</div>

	<div id="sub_content">
	</div><!--END sub_content-->


	<div id="main_footer">
		<p>here is the footer</p>
	</div><!--END main_footer-->
</div><!--END container-->